.tablero {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    margin:200px auto;
    background-color: rgb(196, 255, 199);
}

.fila {
    display: flex;
}

.celda {
    width: 100px;
    height: 100px;
    border: 8px solid black;
    box-sizing: border-box;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}

.celda:hover {
    background-color: #eee;
}

h1{
    display: flex;
    justify-content: center;

}
h2{
    margin: 20px;
}